<div id="editproviderboxhead">Edit Profile for <%=h @provider.name %></div><!-- editproviderboxhead -->
<div id="editproviderbox">
  <%= render :partial => 'provider_form', :locals => {:action => 'Save'}%>
</div><!-- editproviderbox -->

<hr />
<span style="color:#ff0000; font-weight:bold;font-size: 14px;">&#8709;</span> <%= link_to "Cancel", country_url(@country), :method => :get %>