<div id="newcountryboxhead">Add a New Provider</div><!-- newcountryboxhead -->
<div id="newcountrybox">
  <%= render :partial => 'provider_form', :locals => {:action => 'Save'}%>
</div><!-- newcountrybox -->

<hr />
<span style="color:#ff0000; font-weight:bold;font-size: 14px;">&#8709;</span> <%= link_to "Cancel", country_url(@country), :method => :get %>