<li>
	<%= link_to h(usage_level.name), usage_level %> | 
	<span style="color:#ffa500; font-weight:bold;font-size: 14px;">&#916;</span> <%= link_to "Edit", edit_usage_level_url(usage_level) %> | 
	<span style="color:#ff0000; font-weight:bold;font-size: 16px;">&#215;</span> <%= link_to "Delete", usage_level, :confirm => "Are you sure you want to delete this usage level?", :method => 'delete' %>
</li>