<div id="editcountryboxhead">Edit "<%=h @usage_level.name %>"</div>
<div id="editcountrybox">
  <%= render :partial => 'usage_level_form', :locals => {:action => 'update'} %>
</div>

<hr />
<span style="color:#ff0000; font-weight:bold;font-size: 14px;">&#8709;</span> <%= link_to "Cancel", usage_levels_url %>