<h3>Custom Usage Levels</h3>
<div id="usage_levels">
	<ul>
		<%= render :partial => 'usage_level', :collection => @usage_levels, :as => :usage_level %>
	</ul>
</div>
<div id="addcountry"><span style="color:#006000; font-weight:bold;font-size: 16px;">+</span> <%= link_to "Add Usage Level", new_usage_level_url %></div>