<p>What equipment do you plan on using?</p>
<ul>
	<li>
		<select id='equip' name='equip'>
			<option value='none'>Don't include equipment cost</option>
			<option value='high'>High end (More expensive, but better equipment)</option>
			<option value='low'>Low end (Cheaper, not as good equipment)</option>
		</select>
	</li>
</ul>
<br />