<p>What provider types do you want to compare?</p>
<ul>
	<li>
		<select id='provider' name='provider'>
			<option value='Mobile'>Mobile (Cell phones, PDAs, etc.)</option>
			<option value='Fixed'>Fixed (Landline, house phone, etc)</option>
		</select>
	</li>
</ul>