<p>
	<%= link_to "Default Search", :action => :index %> | 
	<%= link_to "Custom Usage Plan Search", :action => :advanced %> | 
	<%= link_to "Compare Plans For Different Countries", :action => :countries %> | 
	<%= link_to "Need Help?", :action => :help %>
</p>