<script type="text/javascript">
	var chart;
	$().ready(function() {
		chart = new Highcharts.Chart({
			chart: {
				renderTo: 'placeholder',
				defaultSeriesType: 'column',
				margin: [50, 50, 100, 80]
			},
			title: {
				text: 'Country Usage Comparison'
			},
			xAxis: {
				categories: [
					<% @graph.each do |p,c| %>
						'<%= p %>',
					<% end %>
				],
				labels: {
					rotation: -45,
					align: 'right',
					style: {
						font: 'normal 13px Verdana, sans-serif'
					}
				}
			},
			yAxis: {
				min: 0,
				title: { text: 'Cost in USD' }
			},
			legend: {
				enabled: false
			},
			tooltip: {
				formatter: function() {
					return "<strong>" + this.x + "</strong><br />Cost: " + this.y;
				}
			},
			series: [{
				name: 'Cost',
				data: [
					<% @graph.each do |plan, value| %>
						<%= value %>,
					<% end %>
				],
				dataLabels: {
					enabled: true,
					rotation: -90,
					color: '#FFFFFF',
					align: 'right',
					x: -3,
					y: 10,
					formatter: function() {
						return this.y;
					},
					style: {
						font: 'normal 13px Verdana, sans-serif'
					}
				}
			}]
		});
	});
</script>
<%= render :partial => 'search_nav' %>
<p class='top'>
	
</p>
<div id='placeholder' style='width:775px;height:400px;margin:0 auto;'>
</div>
<p>
	<strong><em>NOTICE</em>:</strong> All costs for multi-country comparisons are converted to USD as a basis for comparison.
	Conversions are generated using <a href='http://www.webservicex.net/WCF/ServiceDetails.aspx?SID=18'>this web service</a>.
</p>
<p>
	
</p>

<%= link_to "Back to search", url_for(:action => 'countries') %>
