body {
	background-color: #ffffff;
	background: url('../images/background.png') fixed no-repeat;
	margin: 15px 25px;
	font-family: Helvetica, Arial, sans-serif;
	color: #000000;
	font-size: 14px;
} 

.border {
	border: 1px solid #000000;
}

#wrapper {
	width: 780px;
	position: relative;
	margin: auto;
}

#logoswrapper {
	width: 790px;
	margin: auto;
	margin-bottom: 0px;
}

#navigation a:link, #navigation a:visited, #navigation a:active, #navigation a:hover {
  font-size: 1.4em;
	color: #0080ff;
	text-decoration: underline;
} 

#logoswrapper td {
	text-align: left;
}

#logoswrapper td.right {
	text-align: right;
}

p.welcome {
	font-style: italic;
	color: #000000;
}

p.welcomeadmin {
	font-style: italic;
	color: #006000;
}

#notification {
	border: 5px solid #9c9;
	background-color: #cfc;
	padding: 5px;
	margin: 10px 0;
	color: #000000;
}

#error {
	border: 5px solid #ff6666;
	background-color: #ff9999;
	padding: 5px;
	margin: 10px 0;
	color: #000000;
}

#content {
	width: 780px;
	padding: 10px 10px 20px 10px;
}

.fieldWithErrors {
	background-color: #ff6666;
}

a:link, a:visited, a:active {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #000000;
	text-decoration: none;
}

#main {
	width: 520px;
	height: 400px;
	float: left;
}

.bignumber {
	font-size: 72px;
	float: left;
	color: #999999;
}

#main a:link, #main a:visited, #main a:active {
	color: #0080ff;
	text-decoration: none;
}

#main a:hover {
	text-decoration: underline;
}

#main h1 {
	margin: 5px;
	font-size: 16px;
}

#main p {
	margin: 5px;
	font-size: 12px;
	color: #444444;
}

#hometable tr td.editsymbol a:link, #hometable tr td.editsymbol a:visited, #hometable tr td.editsymbol a:active, #hometable tr td.editsymbol a:hover {
	color: #ffa500;
	font-weight: bold;
	font-size: 14px;
}

#hometable tr td.deletesymbol a:link, #hometable tr td.deletesymbol a:visited, #hometable tr td.deletesymbol a:active, #hometable tr td.deletesymbol a:hover {
	color: #ff0000;
	font-weight: bold;
	font-size: 16px;
}

#rightsidebar {
	width: 250px;
	height: 350px;
	float: right;
	border: 1px solid #000000;
}

#hometable {
	width: 240px;
	margin: 5px;
}

#hometable th {
	padding: 5px;
	background-color: #999999;
	color: #000000;
	font-weight: bold;
	font-size: 16px;
	border: 1px solid #000000;
}

#hometable tr:hover td {
	border-bottom: 1px dotted #000000;
}

#hometable td {
	padding: 5px;
	border-bottom: 1px dashed #000000;
}

#login {
	margin-top: 10px;
	float: right;
	font-size: 10px;
}

#login a:link, #login a:active, #login a:visited, #login a:hover {
	color: #0080ff;
	text-decoration: none;
}

#logout {
	margin-top: 10px;
	float: right;
	font-size: 10px;
	padding-top: 2px;
}

#addnewadmin {
	margin-top: 10px;
	margin-right: 10px;
	float: right;
	font-size: 10px;
}

#logout a:link, #logout a:active, #logout a:visited, #logout a:hover {
	color: #ff0000;
	text-decoration: none;
}

#addcountry {
	margin: 6px;
	margin-top: 20px;
}

#aboutpage {
	width: 420px;
	margin: auto;
	margin-top: 450px;
	text-align: center;
	font-size: 12px;
	font-style: italic;
	color: #777777;
}

#authboxhead {
	width: 300px;
	background-color: #0080ff;
	border: 4px solid #0040ff;
	border-bottom: 0px;
	padding: 5px;
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	margin: auto;
	margin-top: 50px;
}

#authbox {
	width: 300px;
	background-color: #444444;
	border: 4px solid #0040ff;
	border-top: 0px;
	margin: auto;
	margin-bottom: 50px;
	padding: 5px;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
}

#authbox label {
	width: 100px;
	float: left;
	text-align: right;
}

div.options {
	text-align: center;
	width: 624px;
	margin: auto;
}

.option1, .option2, .option3 {
	display: inline;
	margin: 20px;
}

.option1 {
	background-color: #cccccc;
	border: 4px solid #999999;
	width: 150px;
	padding: 5px;
	font-weight: bold;
	font-size: 16px;
	color: #ffffff;
	text-align: center;
	float: left;
}

.option2 {
	background-color: #ffa500;
	border: 4px solid #ff7700;
	width: 150px;
	padding: 5px;
	font-weight: bold;
	font-size: 16px;
	color: #ffffff;
	text-align: center;
	float: left;
}

.option3 {
	background-color: #dd00dd;
	border: 4px solid #993399;
	width: 150px;
	padding: 5px;
	font-weight: bold;
	font-size: 16px;
	color: #ffffff;
	text-align: center;
	float: left;
}

.option1 a:link, .option1 a:active, .option1 a:visited, .option1 a:hover, .option2 a:link, .option2 a:active, .option2 a:visited, .option2 a:hover, .option3 a:link, .option3 a:active, .option3 a:visited, .option3 a:hover {
	color: #000000;
}

#newcountryboxhead {
	width: 400px;
	background-color: #009000;
	border: 4px solid #007000;
	border-bottom: 0px;
	padding: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	margin: auto;
	margin-top: 50px;
}

#newcountrybox {
	width: 400px;
	background-color: #444444;
	border: 4px solid #007000;
	border-top: 0px;
	margin: auto;
	margin-bottom: 50px;
	padding: 0px;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
}

#newcountrybox label {
	width: 150px;
	float: left;
	text-align: right;
}

#loggedout {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #ff0000;
	margin: 50px;
}

#authboxhead2 {
	width: 400px;
	background-color: #0080ff;
	border: 4px solid #0040ff;
	border-bottom: 0px;
	padding: 5px;
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	margin: auto;
	margin-top: 50px;
}

#authbox2 {
	width: 400px;
	background-color: #444444;
	border: 4px solid #0040ff;
	border-top: 0px;
	margin: auto;
	margin-bottom: 50px;
	padding: 5px;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
}

#authbox2 label {
	width: 130px;
	float: left;
	text-align: right;
}

#editcountryboxhead {
	width: 400px;
	background-color: #ffcc00;
	border: 4px solid #ffa500;
	border-bottom: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	text-align: center;
	margin: auto;
	margin-top: 50px;
}

#editcountrybox {
	width: 400px;
	background-color: #444444;
	border: 4px solid #ffa500;
	border-top: 0px;
	margin: auto;
	margin-bottom: 50px;
	padding: 0px;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
}

#editcountrybox label {
	width: 150px;
	float: left;
	text-align: right;
}

.editboxbg1 {
	padding: 5px;
}

.editboxbg2 {
	padding: 5px;
	background-color: #555555;
}

#portable_form label {
	width: 150px;
	color: #ffffff;
	text-align: left;
}

.small {
	color: #666666;
	font-size: 10px;
	width: 50px;
	text-align: right;
	margin: 2px 5px 5px 0px;
}

#provideroptions .edit a:link, #provideroptions .edit a:visited, #provideroptions .edit a:active {
	font-size: 10px;
	color: #ffa500;
}

#provideroptions .delete a:link, #provideroptions .delete a:visited, #provideroptions .delete a:active {
	font-size: 10px;
	color: #ff0000;
}

td.none {
	font-style: italic; 
	color: #ff0000;
	text-align: center;
}

.country {
	color: #000000;
	margin-bottom: 5px;
}

.provider {
	color: #000000;
	margin-bottom: 5px;
}

.tag {
	color: #555555;
	font-size: 12px;
	font-style: italic;
	margin-bottom: 25px;
}

#mobileproviders {
	width: 385px;
	float: left;
	margin-right: 10px;
}

#fixedproviders {
	width: 385px;
}

#mobileproviders th, #fixedproviders th {
	padding: 5px;
	background-color: #999999;
	color: #000000;
	font-weight: bold;
	font-size: 16px;
	border: 1px solid #000000;
}

#mobileproviders td, #fixedproviders td {
	border-bottom: 1px dashed #000000;
	padding: 5px;
}

#mobileproviders tr:hover td, #fixedproviders tr:hover td {
	border-bottom: 1px dotted #000000;
}

#addprovider {
	width: 380px;
	float: left;
	padding: 5px;
	clear: both;
	margin: 0 auto;
	width: 400px;
}

#plans {
	width: 385px;
}

#plans th {
	padding: 5px;
	background-color: #999999;
	color: #000000;
	font-weight: bold;
	font-size: 16px;
	border: 1px solid #000000;
}

#plans td {
	border-bottom: 1px dashed #000000;
	padding: 5px;
}

#plans tr:hover td {
	border-bottom: 1px dotted #000000;
}

#editproviderboxhead {
	width: 600px;
	background-color: #ffcc00;
	border: 4px solid #ffa500;
	border-bottom: 0px;
	padding: 5px;
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	text-align: center;
	margin: auto;
	margin-top: 50px;
}

#editproviderbox {
	width: 600px;
	background-color: #444444;
	border: 4px solid #ffa500;
	border-top: 0px;
	margin: auto;
	margin-bottom: 50px;
	padding: 5px;
	color: #ffffff;
	font-weight: bold;
}

#editproviderbox label {
	width: 250px;
	float: left;
	text-align: right;
}

#plandetails {
	width: 100%;
}

#plandetails th {
	padding: 5px;
	background-color: #999999;
	color: #000000;
	font-weight: bold;
	font-size: 16px;
	border: 1px solid #000000;
}

#plandetails td {
	border-bottom: 1px dashed #000000;
	padding: 5px;
}

#plandetails tr:hover td {
	border-bottom: 1px dotted #000000;
}

#navigation {
	margin: 15px 0;
	width: 100%;
	text-align: right;
	font-size: 10px;
}

input {
	width: 217px;
}

input[type='radio'], input[type='checkbox'] {
	width: 20px;
}

#search ul {
	list-style: none;
}

#search ol li a, #search ul li a {
	text-decoration: underline;
}

/* The following styles pertain to form input ID's within the application and will need to be changed if the ID's are changed.  */

#plan_plan_type, #provider_provider_type {
	width: 225px;
}

#plan_usage, #plan_day, #plan_night, #plan_speed {
	width: 166px;
}

#plan_incremental_unit {
	float: left;
	margin-left: 13px;
}

#search p, a.service {
	font-weight: bold;
}

span.link {
	text-decoration: underline;
}
span.link:hover {
	text-decoration: none;
	cursor: pointer;
}