<div id="loggedout">Your session has been terminated.</div><!-- loggedout -->

<hr />
<span style="color:#006000; font-weight:bold;font-size: 12px;">&#9650;</span> <%= link_to("Return Home", url_for(:controller => "countries", :action => "index")) %>
